/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
@import url("chrome://help/content/platformClasses.css");

body {
	margin: 2ex;
	font-family: sans-serif;
	font-size: 0.75em;
	max-width: 120ex;
}

dd { margin-left: 0px; margin-bottom: 1em; }
dt { font-size: 10pt; font-weight: bold; }
tt { font-size: 10pt; }

:link:hover,
:visited:hover { color: -moz-activehyperlinktext; }

h1 { font-size: 20pt; }
h2 { border-top: 1px solid black; font-size: 16pt; padding-top: 0.2em; }
h3 { color: #009; font-size: 10pt; margin-bottom: 0px; margin-top: 35px; }

kbd { font-family: sans-serif; }

.defaultTable { border-collapse: collapse; border: 1px solid grey;
  width: 100%; }

.defaultTable td { border: 1px solid grey; padding: 4px; }

.defaultTable th { background-color: #99ccff;
  border: 1px solid grey; font-size: 10pt; padding: 4px; text-align: left; }

.defaultTable tbody > tr.even { background-color: #eeeeee; }

.boilerPlate { font-size: 7pt; }

.commandColumn { width: 40%; }
.osFirstColumn { width: 20%; }
.osSecondColumn { width: 20%; }
.osThirdColumn { width: 20%; }

p:first-child { padding-top: 0; margin-top: 0; }

.separate > li { margin-bottom: 0.5em; }

.contentsBox {
	margin-top: 12px;
	background-color: #cccccc;
	border: 1px solid black;
	width: 300px;
	padding: 1em;
}

.contentsBox > ul {
	list-style-type: none;
}

a[href^="http://"]:after, a[href^="https://"]:after, a[href^="x-moz-url-link:"]:after {
	content: url("images/web-links.png");
}

@media print {
  h1,h2,h3,h4,h5,h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
}
